<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Práctica_de_acceso_a_Datos.Properties.Settings.pruevaConnectionString"
            connectionString="Data Source=DESKTOP-OBF3EB5\SQLEXPRESS01;Initial Catalog=prueva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Práctica_de_acceso_a_Datos.Properties.Settings.Gestion_de_InventarioConnectionString"
            connectionString="Data Source=DESKTOP-OBF3EB5\SQLEXPRESS;Initial Catalog=Gestion_de_Inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>